.swal2-container {
  z-index: 2500 !important;
}
.save_loading {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: ro;
          animation-name: ro;
  transform-origin: 50% 50%;
}
@-webkit-keyframes ro {
  100% {
    transform: rotate(-360deg) translate(0, 0);
  }
}
@keyframes ro {
  100% {
    transform: rotate(-360deg) translate(0, 0);
  }
}
